In [2]:
# for table analysis
import pandas as pd

# write to csv
import csv

In [3]:
def League_table_scraper(url,position_of_table_in_the_page):
    """
    Function takes in the the url of the wikipedia page of 
    a leagues season and the position of the table in the 
    webpage as arguments and returns the league table 
    for that season
    
    Arg:
    string: league season url
    int : position of the league table 
    (best approach is to try number 3-10 to find the right table)
    
    Out:
    dataframe of leagur table
    
    """
    
    # Getting the data
    
    df = pd.read_html(url)[position_of_table_in_the_page]
    df.to_csv('League_table.csv',index=False)
    
    
    # Cleaning the data
    
    # Fix column names
    df.rename(columns={ df.columns[1]: "club" }, inplace = True)
    
    # Clean team names
    teams = list(df.club)
    # Iterate over the list of teams
    for i, team in enumerate(teams):
        # Split the string at the first occurrence of '(' or '['
        split_team = team.split('(',1)[0].split('[', 1)[0]
        # Get the first part of the split string (the team name) and strip any leading or trailing white space
        cleaned_team = split_team.strip()
        # Update the element in the list with the cleaned team name
        teams[i] = cleaned_team

    df['club'] = teams
    
    return df

In [33]:
League_table_scraper('https://en.wikipedia.org/wiki/2019%E2%80%9320_Belgian_First_Division_A',4)

,Pos,club,Pld,W,D,L,GF,GA,GD,Pts,Qualification or relegation
0,1,Club Brugge,29,21,7,1,58,14,+44,70,Qualification for the Champions League group s...
1,2,Gent,29,16,7,6,59,34,+25,55,Qualification for the Champions League third q...
2,3,Charleroi,29,15,9,5,49,23,+26,54,Qualification for the Europa League third qual...
3,4,Antwerp,29,15,8,6,49,32,+17,53,Qualification for the Europa League group stag...
4,5,Standard Liège,29,14,7,8,47,32,+15,49,Qualification for the Europa League second qua...
5,6,Mechelen,29,13,5,11,46,43,+3,44,NaN
6,7,Genk,29,13,5,11,45,42,+3,44,NaN
7,8,Anderlecht,29,11,10,8,45,29,+16,43,NaN
8,9,Zulte Waregem,29,10,6,13,41,49,−8,36,NaN
9,10,Excel Mouscron,29,9,9,11,38,40,−2,36,NaN
10,11,Kortrijk,29,9,6,14,40,44,−4,33,NaN
11,12,Sint-Truiden,29,9,6,14,36,53,−17,33,NaN
12,13,Eupen,29,8,6,15,28,51,−23,30,NaN
13,14,Cercle Brugge,29,7,2,20,27,54,−27,23,NaN
14,15,Oostende,29,6,4,19,29,58,−29,22,NaN
15,16,Waasland-Beveren,29,5,5,19,21,60,−39,20,NaN

In [15]:
League_table_scraper('https://en.wikipedia.org/wiki/CR_Vasco_da_Gama#First_team_squad',3)

    No. club Nation                        Player
0     1   GK    BRA              Thiago Rodrigues
1     2   DF    URU                Puma Rodríguez
2     3   DF    BRA                      Léo Pelé
3     4   DF    BRA  Anderson Conceição (captain)
4     5   MF    BRA              Patrick de Lucca
5     6   DF    BRA                        Edimar
6     9   FW    BRA                    Pedro Raul
7    10   MF    BRA                          Nenê
8    11   FW    BRA                   Gabriel Pec
9    13   DF    BRA                  Gabriel Dias
10   15   FW    BRA                    Figueiredo
11   18   MF    BRA               Matheus Barbosa
12   19   MF    CHI               Carlos Palacios
13   21   FW    BRA                     Eguinaldo
14   22   GK    BRA                     Alexander
15   23   MF    BRA                    Zé Gabriel